body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.primaryBackgroundColor {
  background: linear-gradient(225deg, #4181f6, #8649f1);
  color: white !important;
}

.alertError {
  background: linear-gradient(90deg, rgba(246,65,65,1) 35%, rgb(239, 42, 42) 100%) !important;
  color: white !important;
}

.alertSuccess {
  background: linear-gradient(90deg, rgb(43, 194, 0) 35%, rgb(28, 190, 37) 100%) !important;
  color: white !important;
}

.alertDiv {
  padding: 10px 10px;
  display: inline-flex;
  font-weight: bold;
}

.iconMargin {
  margin-right: 0.3em;
}

img.logo {
  margin: 1px;
  padding: 1em;
  width: 100%;
}

.listItem {
  background-color: aliceblue;
  font-weight: bold !important;
  cursor: pointer;
}

.listItem.selected {
  background-color: lightblue;
  color: white;
  font-weight: bold !important;
  cursor: pointer;
}


.listItem span {
  font-weight: bold !important;
}

.listItem:hover {
  background-color: #4181f6;
  font-weight: bold !important;
}

.imgCampaigns {
  /*max-width: 200px;  */
  width: 100%;
  height: 400px;
}

.divCampaign {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.divHiddenCampaign{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.divHiddenCampaignHide {
  display: none !important;
}

.divHiddenOpacity {
  opacity: 0.5;
  background-color: black;
}

.gridFlexed {
  display: flex;
  flex-direction: column;
  position: relative;
}

.gridFlexed > div {
  margin: 1em;
}

.divHiddenCard {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}